.disable-text-selection {
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: -moz-none;
   -o-user-select: none;
   user-select: none;
}

@font-face {
   font-family: "hanuman";
   src: url("../fonts/Hanuman-Regular.woff") format("woff");
}

@font-face {
   font-family: "koulen";
   src: url("../fonts/Koulen-Regular.woff") format("woff");
}